# Copyright (C) 2025-2026 OrangeFox Recovery Project
# SPDX-License-Identifier: GPL-3.0-only
#
# init.recovery.encryption.rc for:
# Samsung Galaxy Tab A9 WiFi (SM-X110) - codename: gta9wifi
# SoC: MediaTek Helio G99 (MT6789)

on init
    start vendor.keymint-mtk

# Runs after KeyMint starts
on property:vendor.sys.listeners.registered=true
    start vendor.gatekeeper-mtk

# Runs during post-fs-data
on property:ro.crypto.state=encrypted && property:twrp.firmware.mounted=true
    start vendor.keymint-strongbox
    start vendor.weaver

# Runs after decryption
on property:twrp.all.users.decrypted=true
    setprop crypto.ready 0

    stop keystore2
    stop vendor.weaver
    stop vendor.keymint-strongbox
    stop vendor.keymint-mtk
    stop vendor.gatekeeper-mtk

# Runs if decryption failed/was canceled
on property:of_decryption_failed=true
    stop vendor.keymint-mtk
    stop vendor.gatekeeper-mtk
